<form action="/all_my_blogs" method="POST">
hello
<hr>
{% for school_blog in list[0] %}
    <br>
    id:{{school_blog[0]}}
    name:{{school_blog[1]}}
    post time:{{school_blog[3]}}
    <input type="checkbox" name="school" value="{{school_blog[0]}}">
    <a href="/Blog2?community=school&blog_name={{school_blog[1] }}&blog_id={{school_blog[0]}}">Go to blog</a>
    <br>
{% endfor %}
<hr>
{% for life_blog in list[1] %}
    <br>
    id:{{life_blog[0]}}
    name:{{life_blog[1]}}
    post time:{{life_blog[3]}}
    <input type="checkbox" name="life" value="{{life_blog[0]}}">
    <a href="/Blog2?community=life&blog_name={{life_blog[1] }}&blog_id={{life_blog[0]}}">Go to blog</a>
    <br>
{% endfor %}
<hr>
{% for sport_blog in list[2] %}
    <br>
    id:{{sport_blog[0]}}
    name:{{sport_blog[1]}}
    post time:{{sport_blog[3]}}
    <input type="checkbox" name="sport" value="{{sport_blog[0]}}">
    <a href="/Blog2?community=sport&blog_name={{sport_blog[1] }}&blog_id={{sport_blog[0]}}">Go to blog</a>
    <br>
{% endfor %}
<hr>
{% for game_blog in list[3] %}
    <br>
    id:{{game_blog[0]}}
    name:{{game_blog[1]}}
    post time:{{game_blog[3]}}
    <input type="checkbox" name="game" value="{{game_blog[0]}}">
    <a href="/Blog2?community=game&blog_name={{game_blog[1] }}&blog_id={{game_blog[0]}}">Go to blog</a>
    <br>
{% endfor %}
<hr>
you can choice the blog you want to delete by make the tick above beside the blog's name
<input type="submit" value="DELETE the blogs you choiced">
<br>   
<a href="/">Back</a>
