<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
  <div class="header">
        Post Search
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
  <div class="content">
    <form action="/Blog2" method="GET">

    hello welcome to {{community}}!

    Find a post <input type="text" name="query">
    <br>
    <input type="hidden" name="community" value="{{ community }}">
    <input type="submit" name="find" value="search">
    </form>
    <hr>
    
      {% for name in list1 %}
      <li>
        {{name[0]}}
        <a href="/Blog2?community={{ community }}&blog_name={{ name[0] }}&blog_id={{name[1]}}">Go to blog</a>
      </li>
    
    <hr>
    {% endfor %}
  </div>
</body>
