<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">




<body>

    <div class="header">
        Blog Details
    </div>
    <nav>
        <ul>
            <li><a href="/Blog">Back to Blog list</a></li>
        </ul>
    </nav>
    <div class="content">

        <p>Hello!</p>
        <p>Community: {{ community }}</p>
        <p>Blog name: {{ blog_name }}</p>
        <p>Blog's ID: {{ blog_id }}</p>
        
        <div class="article-content">
            <p>{{blog_writer}}{{blog_time}}</p>
            <p>{{ message | safe  }}</p>
        </div>
        
        <p>Comments:</p>
       
        {% if comments %}
            {% for comment in comments %}
                <div class="article-content">
                    {{comment[1]}}{{comment[2]}}
                    <p>{{ comment[0] | safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <li>No comments yet.</li>
        {% endif %}
  
        <a href="/add_comment?community={{ community }}&blog_name={{ blog_name}}&blog_id={{blog_id}}">add comment</a>
        <input type="hidden" name="community" value="{{ community }}">
        <input type="hidden" name="blog_id" value="{{ blog_id }}">
    </div>  

</body>
