<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">




<body>

    <div class="header">
        Post Details
    </div>
    <nav>
        <ul>
            <li><a href="/Blog">Back to post list</a></li>
        </ul>
    </nav>
    <div class="content">

        <p>Community: {{ community }}</p>
        <p>Post name: {{ blog_name }}</p>
        <p>Writer:{{blog_writer}}</p>   
        <p>Post time:{{message2.time.strftime("%Y-%m-%d %H:%M:%S")}}</p>
        <p>Content:</p>
        <div class="article-content">
            <p>{{ message | safe  }}</p>
        </div>
        
        <p>Comments:</p>
       
        {% if comments %}
            {% for comment in comments %}
                <div class="article-content">
                    Writer:{{comment[1]}}&nbsp;&nbsp;{{comment[2].strftime("%Y-%m-%d %H:%M:%S")}}
                    <p>{{ comment[0] | safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <li>No comments yet.</li>
        {% endif %}
  
        <a href="/add_comment?community={{ community }}&blog_name={{ blog_name}}&blog_id={{blog_id}}">add comment</a>
        <input type="hidden" name="community" value="{{ community }}">
        <input type="hidden" name="blog_id" value="{{ blog_id }}">
    </div>  

</body>
