<form action="/create" method="POST">
<p>Topic:<br>
<input type="text" name="topic"></p>
<input type="radio" name="community" value="school"> School
<input type="radio" name="community" value="life"> Life
<input type="radio" name="community" value="sport"> Sport
<input type="radio" name="community" value="game"> Game
<p>Write your blog:<br>
<input type="text" name="content"></p>
<br>
password:<br>
<input type="password" name="password"></p>
<br>
you can set a password for your blog or you can leave it blank so there wont be any password
<br>

<input type="submit" value="write new blog">
<br>
<a href="/">Back</a>
</form>
