
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">




<body>
    <div class="header">
        Create New Blog
    </div>
    <nav>
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </nav>
    <div class="content">
        <form action="/create" method="POST">
            <p>Topic:</p>
            <input type="text" name="topic" maxlength="30">
            <p>Community:</p>
            <input type="radio" name="community" value="school"> School
            <input type="radio" name="community" value="life"> Life
            <input type="radio" name="community" value="sport"> Sport
            <input type="radio" name="community" value="game"> Game
            <input type="hidden" name="community" value=""> 
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <p>Write your blog(atmost 500 characters):</p>
            <textarea name="content" rows="4" cols="50" maxlength="500"></textarea>
            <p>Password:</p>
            <input type="password" name="password" maxlength="20">
            <p>You can set a password for your blog, or you can leave it blank for no password.</p>
            <input type="submit" value="Write New Blog">
        </form>
        {% block content %}{% endblock %}
    </div>
</body>
