
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">




<body>
    <div class="header">
        Private Post 
    </div>
    <nav>
        <ul>
            <li><a href="/Blog">Back</a></li>
        </ul>
    </nav>
    <div class="content">
        <form action="/check_password" method="POST">
            <h1>Private Post</h1>
            <p><b>Welcome</b> <i>to the post</i>! <i>Give the password</i>!</p>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Check">
            <input type="hidden" name="password1" value="{{ passw }}">
            <input type="hidden" name="blog_id" value="{{ blog_id }}">
            <input type="hidden" name="community" value="{{ community }}">
            <input type="hidden" name="blog_name" value="{{ blog_name }}">
            <input type="hidden" name="message" value="{{ message }}">
            <input type="hidden" name="blog_writer" value="{{ blog_writer }}">
            <input type="hidden" name="blog_time" value="{{ blog_time }}">
        </form>
        {% block content %}{% endblock %}
    </div>
</body>
