<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% if session.username %}
<body>
  <div class="header">
  You have signed in as {{ session.username }}
  Welcome to the blog app. Choose one community.
  </div>

  <div class="content">
  <form action="/Blog" method="POST">
  <input type="radio" name="community" value="school" required>School
  <input type="radio" name="community" value="life" required>Life
  <input type="radio" name="community" value="sport" required>Sport
  <input type="radio" name="community" value="game" required>Game
  <input type="hidden" name="community" value="">
  <br>
  <input type="submit" value="go">
  </form>
  </div>
  </p>
  <nav>
    <ul>
      <li><a href="/new_blog">new blog</a>
      <li><a href="/all_my_blogs">see all my blogs</a>
      <li><a href="/logout">Logout</a>
    </ul>
  </nav>
</body>

{% else %}
<body>
  <title>WORLD OF BLOGS</title>
  
  <div class="header">
    <h1>WORLD OF BLOGS</h1>
  </div>
 
  <div class="content">
  <b>Welcome</b> <i>to the app</i>!
  <i>sign in</i>!
  <form action="/result" method="POST">

  <label2 for="username">Username:</label>
  <textarea name="username" rows="1" cols="17" maxlength="10"></textarea>
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" rows="1" cols="16" maxlength="15"></p>
  Blogging has become an integral part of our digital age, allowing individuals and businesses to share their thoughts, experiences, and expertise with the world. 
  </div>
  
  <nav>
  <input type="submit" name="button" value="sign in">
  <br>
  <input type="submit" name="button" value="create new user">
  </nav>
  </form>
  {% block content %}{% endblock %}
</body>
{% endif %}

